{{> content_top }}

<main class="container">
    <div class="row mb-2">
        <div class="col-lg-9 mx-auto">

            <article class="blog-post mt-5">
                {{#with page.head}}
                <h1 class="blog-post-title mb-5">{{title}}</h2>

                <img scr="/static/image/{{extra.hero}}" />
                {{!-- {{#each (page.head.tags)}}
                <strong class="d-inline-block mb-2 text-primary">{{tag}}</strong>
                {{/each}} --}}
                    <p class="blog-post-meta">{{#if extra.date}}Published: {{extra.date}}{{/if}}</p>
                    {{/with}}
                    {{! Since this is HTML, we use the triple-curly }}
                    {{{page.body}}}
                    {{! Remove the `!` on the line below to see how to call a Rhai script }}
                    {{! echo "world" }}
            </article>
            
        </div><!-- end col -->
    </div>
</main>

{{> content_bottom }}
